---
import '../styles/global.css';
import Layout from "../layouts/Layout.astro";
---

<Layout titre="Contact">
		<h1 class="text-2xl text-center">Contact</h1>
		<p class="text-center">Contactez-nous pour toute question ou demande d'information.</p>
	</Layout>