<nav class="bg-gray-600 py-4 shadow-md">
    <div class="container mx-auto flex justify-center gap-8">
        <a href="/" class="text-white px-4 py-2 rounded hover:bg-gray-800 transition">Accueil</a>
        <a href="/offres" class="text-white px-4 py-2 rounded hover:bg-gray-800 transition">Offres</a>
    </div>
</nav>
