<nav class="bg-gray-600 py-4 shadow-md">
    <div class="container mx-auto flex items-center justify-between px-4">
        <span class="text-white text-xl">ImmoSilver</span>
        <div class="text-center">
            <a href="/" class="text-white px-4 py-2 rounded hover:bg-gray-800 transition">Accueil</a>
            <a href="/offres" class="text-white px-4 py-2 rounded hover:bg-gray-800 transition">Offres</a>
            <a href="/contact" class="text-white px-4 py-2 rounded hover:bg-gray-800 transition">Contact</a>
        </div>
    </div>
</nav>
